body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}


.position {
  position: absolute;
  top: 100px;
  left: 80px;
}

.profile {
  width: 180px;
  height: 220px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px 10px 20px;
}



.kids-profile {
  width: 180px;
  height: 220px;
  border: 1px solid black;
  border-radius: 5px;
  margin:30px 10px 20px;
}

.kids-profile:hover {
  cursor: pointer;
  border: 3.2px solid white;
}

.kids-profile img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.profile img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.profile:hover {
  border: 3.2px solid white;
  cursor: pointer;
}

.padding-x {
  padding-left: 60px;
}

.font-size {
  font-size: 50px;
}

.plus {
  font-size: 70px;
}

#manage-button {
  background-color: #141414;
  padding: 10px;
  border: 3px solid #676767;
  width: 300px;
  color: #777777;
  font-size: 20px;
  transition: border 0.01s ease-in;
  transition: color 0.01s ease-in;
  position: absolute;
  bottom: -140px;
  left: 520px;
  margin-bottom:80px;
}

#manage-button:hover {
  border: 1px solid white;
  color: white;
}

.highlight {
  color: white;
  font-weight: 500;
}

@media (max-width: 576px) {
.font-size{
    font-size:40px;
    padding-left:20px;
}
.position {
    left:40px;
}    
.padding-x {
 padding-left: 30px;
}

.margin-top{
    margin-top:60px;
}

.container {
    top:5px;
    left:10px;
}

.profile:nth-child(3){
    margin-bottom:50px;
}



}

@media (min-width: 576px) and (max-width: 768px) {
    .font-size{
        font-size:50px;
        padding-left:20px;
    }

    .position {
        left:40px;
    }    
    .padding-x {
     padding-left: 30px;
    }
    
    
    .margin-top{
        margin-top:60px;
    }
    
    .container {
        top:-15px;
        left:10px;
    }

    .profile:first-child{
    margin-right:62px;
    }

    .profile:nth-child(3){
        margin-right:62px;
        margin-bottom:50px;
    }
    
    
   
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    top:20px;
  }


    
    
   
  
}

@media (min-width: 992px) {
    .container {
        top:100px;
      }
    
    
}

  

